
.cours2
{
    width:8cm;
}
.button
{
    margin-left:2.6cm;
}
.choice
{
    margin-top: -4%;
}
.padd
{
    margin-left: 0.2%;
}
.ajout
{
    width: 12cm;
    height: 8cm;
    margin-top: 10%;

}
.button3
{
    margin-left:40%
}
.image
{
    height:2cm;
    width:2cm;
    margin-top:-2%;
}